html {
	font-family: Inter, sans-serif;
}

.main-container {
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: auto;
}

main-display {}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.img-basic {
	display: block;
	width: 100%;
	object-fit: cover;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.h1-fs {
	@include adaptive-font(32, 24);
}

.h2-fs {
	@include adaptive-font(30, 22);
}

.sidebar-item-name-fs {
	@include adaptive-font(15, 13);
}

.text-primary-fs {
	@include adaptive-font(17, 13);
}

.text-secondary-fs {
	@include adaptive-font(12, 11);
}


@media screen and (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}
}

@media screen and (min-width: 1471px) {
	.h1-fs {
		font-size: 32px;
	}
	.h2-fs {
		font-size: 30px;
	}
	.text-primary-fs {
		font-size: 17px;
	}
	.sidebar-item-name-fs {
		font-size: 15px;
	}
}