$max-width: 1470px;

$color-bg-sidebar: #1d1d43;
$color-bg-display: #e4e9f7;
$color-sidebar-text: #ffffff;
$color-sidebar-hover: #6559f2;
$color-text-primary: #11101d;
//$color-text-primary: #201c2f;
$color-text-secondary: #7a7b7f;
$color-text-alternate: #838383;
$color-donuts-chart: #90ee8f;

$color-card-1: #ffe3c8;
$color-card-2: #e9e7ff;
//$color-card-3: #d4f7fe;
$color-card-3: #ffcc04;
//$color-card-4: #ffd1e3;
$color-card-4: #90ee8f;
$color-card-5: #bbf9da;



$padding-desk: 20px;
$padding-mob: 10px 20px;
$border-radius: 12px;
$border-radius-6: 6px;