$max-width: 1470px;

$color-sidebar: #eaf0ff;
$color-main-content: #ffffff;
$color-hover: #e9e7ff;
$color-card-1: #ffe3c8;
$color-card-2: #e9e7ff;
$color-card-3: #e9e7ff;
$color-card-4: #e9e7ff;
$color-card-5: #ffd1e3;
$color-text-primary: #201c2f;
$color-text-secondary: #838383;
$color-donuts-chart: #90ee8f;

$padding-sidebar-desk: 20px 50px;
$padding-sidebar-mob: 10px 20px;
$padding-main-content-desk: 30px 50px;
$padding-main-content-mob: 20px;


$transition: .2s all liner;